.Section-color {
    background-color: #f8f8f8;
    border-right: 1px solid #0066a7;
}



.menu-new-item-btn {
    background-color: #0066a7 !important;
    color: white;

}

.g-white {
    color: #7e8696;
}

.custom-switch {
    width: 50px !important;
    height: 25px;
}

.form-check-input:checked {
    background-color: #0066a7;
    border-color: #0066a7;
}

.trash-btn {
    border: none;
    background-color: white;
}

.warning-img {
    width: 40px;
    height: 40px;

}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.food-icon {
    width: 20px;
}

.sections-list {
    height: 300px;
    overflow: auto;
}

.sixdot-icon {
    height: 25px;
}

ul {
    list-style: none;
    padding-left: 0%;
}

.section-sidebar {
    text-decoration: none;
    color: #7e8696;
    font-weight: bold;
}

.table-deletes-btn {
    background: none;
    border: 1px solid #0066a7;
}

.table-delete-btn {
    background: none;
    border: none;
}

.table-edit-btn {
    background: none;
    border: none;
}

.section-item:hover .sections-actions {
    display: flex !important;
}

.section-item:hover .section-sidebar {
    color: #0066a7;
    font-weight: bold;
}

.sections-actions {
    display: none;
}

.section-item {
    cursor: pointer;
    padding: 10px;
}

.section-item.selected .section-sidebar {
    color: #0066a7;
    font-weight: bold;
}