@model pizzashop_repository.ViewModels.ChangePasswordViewModel

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<form method="post">
    <div class="d-flex mt-3 p-3 justify-content-between">
        <div class="h2 blue-color"><strong>Change Password</strong></div>
    </div>

    <input type="email" style="display: none;" asp-for="Email">

    <div class="ms-2">
        <small class="sidebar-name">Enter a new password to update your account credentials</small>

        <!-- Current Password -->
        <div class="form-floating mt-2 " style="width: 390px;">
            <input asp-for="CurrentPassword" type="password" class="form-control position-relative" id="currentPassword">
            <label for="currentPassword">Current Password*</label>
            <i class="far fa-eye toggle-password" data-target="#currentPassword"
               style="cursor: pointer; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); z-index: 10;"></i>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <!-- New Password -->
        <div class="form-floating mt-2 position-relative" style="width: 390px;">
            <input asp-for="NewPassword" type="password" class="form-control" id="newPassword">
            <label for="newPassword">New Password*</label>
            <i class="far fa-eye toggle-password" data-target="#newPassword"
               style="cursor: pointer; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); z-index: 10;"></i>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <!-- Confirm Password -->
        <div class="form-floating mt-2 position-relative" style="width: 390px;">
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword">
            <label for="confirmPassword">Confirm New Password*</label>
            <i class="far fa-eye toggle-password" data-target="#confirmPassword"
               style="cursor: pointer; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); z-index: 10;"></i>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn navbar-color text-white">Submit</button>
            <a type="button" class="btn cancel-btn-color ms-1" asp-action="Index" asp-controller="Dashboard">Cancel</a>
        </div>
    </div>

    <div class="text-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</form>
<script src="~/js/dashboard.js"></script>
